{% extends "home/base.html" %}
{% load static %}
{% block content %}
 <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Big Opportunity <br>
                                        for your Business</h3>
                                <div class="video_service_btn">
                                    <a href="#" class="boxed-btn3">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Big Opportunity <br>
                                        for your Business</h3>
                                <div class="video_service_btn">
                                    <a href="#" class="boxed-btn3">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Big Opportunity <br>
                                        for your Business</h3>
                                <div class="video_service_btn">
                                    <a href="#" class="boxed-btn3">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Big Opportunity <br>
                                        for your Business</h3>
                                <div class="video_service_btn">
                                    <a href="#" class="boxed-btn3">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
  <div class="about_info_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_text">
                        <h3>Why our Consulting?</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.
                            It esteems luckily or picture placing drawing. Apartments frequently or motionless on reasonable.</p>
                            <a href="abot.html" class="boxed-btn3">About Us</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_thumb">
                        <img src="{% static 'img/service/about.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /about_info_area end  -->

    <!-- counter_area  -->
    <div class="counter_area counter_bg_1 overlay_03">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="{% static 'img/svg_icon/group.svg' %}" alt="">
                        </div>
                        <h3> <span class="counter">200</span> <span> +</span> </h3>
                        <p>Team Members</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="{% static 'img/svg_icon/cart.svg' %}" alt="">
                        </div>
                        <h3> <span class="counter">97</span> <span>%</span> </h3>
                        <p>Business Success</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="{% static 'img/svg_icon/heart.svg' %}" alt="">
                        </div>
                        <h3> <span class="counter">5628</span></h3>
                        <p>Happy Client</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="{% static 'img/svg_icon/respect.svg' %}" alt="">
                        </div>
                        <h3> <span class="counter">5637</span> </h3>
                        <p>Business Done</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /counter_area  -->

    <!-- case_study_area  -->
    <div class="case_study_area">
        <div class="container">
            <div class="border_bottom">
                    <div class="row">
                            <div class="col-xl-12">
                                <div class="section_title text-center mb-40">
                                    <h3>Case Study</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="case_active owl-carousel">
                                        <div class="single_case">
                                                <div class="case_thumb">
                                                        <img src="{% static 'img/case/1.png' %}" alt="">
                                                    </div>
                                            <div class="case_heading">
                                                    <span>Finance Solution</span>
                                                    <h3><a href="#">Consumer Products Consulting</a></h3>
                                            </div>
                                        </div>
                                        <div class="single_case">
                                                <div class="case_thumb">
                                                        <img src="{% static 'img/case/2.png' %}" alt="">
                                                    </div>
                                            <div class="case_heading">
                                                    <span>Finance Solution</span>
                                                    <h3><a href="#">Consumer Products Consulting</a></h3>
                                            </div>
                                        </div>
                                        <div class="single_case">
                                                <div class="case_thumb">
                                                        <img src="{% static 'img/case/3.png' %}" alt="">
                                                    </div>
                                            <div class="case_heading">
                                                    <span>Finance Solution</span>
                                                    <h3><a href="#">Consumer Products Consulting</a></h3>
                                            </div>
                                        </div>
                                        <div class="single_case">
                                                <div class="case_thumb">
                                                        <img src="{% static 'img/case/1.png' %}" alt="">
                                                    </div>
                                            <div class="case_heading">
                                                    <span>Finance Solution</span>
                                                    <h3><a href="#">Consumer Products Consulting</a></h3>
                                            </div>
                                        </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-xl-12">
                                <div class="more_close_btn text-center">
                                    <a href="#" class="boxed-btn3-line">More Cases</a>
                                </div>
                            </div>
                        </div> -->
            </div>
        </div>
    </div>
    <!-- /case_study_area  -->

    <!-- accordion  -->
 
        <!-- accordion  -->

    <div class="testimonial_area overlay ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                                        </div>
                                        <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{% static 'img/case/testmonial.png' %}" alt="">
                                            </div>
                                            <h3>Robert Thomson</h3>
                                            <span>Business Owner</span>
                                        </div>
                                    </div>
                        </div>
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                                        </div>
                                        <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{% static 'img/case/testmonial.png' %}" alt="">
                                            </div>
                                            <h3>Robert Thomson</h3>
                                            <span>Business Owner</span>
                                        </div>
                                    </div>
                        </div>
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                                        </div>
                                        <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                                Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{% static 'img/case/testmonial.png' %}" alt="">
                                            </div>
                                            <h3>Robert Thomson</h3>
                                            <span>Business Owner</span>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="contact_form_quote">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="form_wrap">
                            <h3>Get Free Quote</h3>
                            <form action="#">
                                <input type="text" placeholder="Your Name" >
                                <input type="text" placeholder="Comany Domain" >
                                <input type="email" placeholder="Email" >
                                <button class="boxed-btn3">Send</button>
                            </form>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6">
                    <div class="contact_thumb">
                        <img src="{% static 'img/banner/contact_thumb.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Information_area  -->
    <div class="Information_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-8">
                    <div class="info_text text-center">
                        <h3>For Any Information Call Us</h3>
                        <br>
                        <a class="boxed-btn3" href="#">+10 673 763 6786</a>
                        <p>
                                support@sacumen.com <br>
                                JB Group, #110, Ground Floor <br>
                                4th Cross Industrial Layout <br>
                                5th Block, Koramangala, Bengaluru, Karnataka 560095
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
