<div class="modal fade" id="ssc_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Configure with SecurityScorecard</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="ssc-form"  action='/ssc_connector/save_ssc/' method="POST">
          {% csrf_token %}
            <div class="control">
                <label for="exampleFormControlInput1">Interval</label>
                <input type="number" class="ssc_form" value='{{ssc_data.interval}}'name="interval" id="app_url" >
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">API Url</label>
                <input type="text"  class="ssc_form" placeholder="https://app_url.com" value='{{ssc_data.api_url}}'  name="api_url" id="ssc_email_id" required="">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">API Token</label>
                <input type="text" class="ssc_form" name="api_token" value='{{ssc_data.api_token}}'id="ssc_api_token" required="">
            </div>
             <div class="form-group">
                <label for="exampleFormControlInput1">Overall Score</label>
                <input type="number" class="ssc_form" value='{{ssc_data.overall_score}}' name="overall_score" id="ssc_project_key">
            </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Factor Score</label>
                <input type="number" class="ssc_form" value='{{ssc_data.factor_score}}' name="factor_score" id="ssc_project_key" >
            </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Issue Level Event</label>
                <input type="number" class="ssc_form" value='{{ssc_data.issue_level_event}}' name="issue_level" id="ssc_project_key" >
            </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Domain Url</label>
                <input type="text" class="ssc_form" value='{{ssc_data.domain}}' name="domain" id="ssc_project_key" required="">
            </div>
            <div class="modal-footer">
              <div style="float:left;width:40%;text-align:left;">
                <span style="color:green;" id="success">Test Conection Success</span>
                <span style="color:red;" id="failed"> Test Connection Failed</span>
              </div>
              <button type="button" id="test_ssc" class="btn btn-primary">Test Connection</button>
              <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
              <button type="submit" id= "ssc_submit" class="btn btn-primary">Submit</button>
            </div>
            <div id="overlay" style="display:none;">
              <div class="spinner"></div>
              <br/>
               Loading...
           </div>
         </form>
        </div>
       
      </div>
    </div>
  </div>
